<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asus.trendhimapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".mainActivities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".categoryPage.CategoryProductActivity" />
        <activity android:name=".mainActivities.BaseActivity" />
        <activity
            android:name=".productPage.ProductActivity"
            android:parentActivityName=".categoryPage.CategoryProductActivity" />
        <activity android:name=".wishlist.WishlistActivity" />
        <activity android:name=".weeklyLookPage.WeeklyLookActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".weeklyLookPage.singleWeeklyLookPage.SecondWeeklyLookActivity" />
        <activity android:name=".shoppingCart.ShoppingCartActivity" />
        <activity android:name=".shoppingCart.credentialsPage.CredentialsActivity" />
        <activity android:name=".aboutUs.AboutUsActivity" >
            <intent-filter>
                <action android:name=".aboutUs.AboutUsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".loginPage.TabbedActivity"/>

        <activity android:name=".settings.Settings"/>
        <activity android:name=".settings.Contact" >
            <intent-filter>
                <action android:name=".settings.Contact" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".settings.AboutTheApp">
            <intent-filter>
                <action android:name=".settings.AboutTheApp" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".settings.order.OrderActivity">
            <intent-filter>
                <action android:name=".order.OrderActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".settings.order.detailedOrder.DetailedOrderActivity" />
        <activity android:name=".settings.shippingAddress.UserAddress" >
            <intent-filter>
                <action android:name=".settings.UserAddress" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".settings.shippingAddress.IndividualAddress" />
    </application>

</manifest>